
<header>
  <nav>
    <ul>
      <li><a href="/collections/guayos">Guayos</a></li>
      <li><a href="/collections/guayos-nike">Nike</a></li>
      <li><a href="/collections/guayos-superficie-fg">FG</a></li>
      <li><a href="/collections/accesorios-futbol">Accesorios</a></li>
      <li><a href="/collections/ofertas">Ofertas</a></li>
      <li><a href="https://wa.me/573155184641">WhatsApp</a></li>
    </ul>
  </nav>
</header>
